* {
	font: inherit;
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
	height: auto;
}
a img {
	border: none;
}
a {
	color: inherit;
	text-decoration: none;
}
b,
strong,
th {
	font-weight: bold;
}
i,
em {
	font-style: italic;
}
sub,
sup {
	font-size: smaller;
}
html {
	background: #fff;
	color: #000;
	font: 18px / 1.3 "Noto Sans", "Roboto", "Liberation Sans", sans-serif;
}
@media all and (min-width: 1100px) {
	html {
		font-size: 20px;
	}
}
body {
	box-sizing: border-box;
	min-width: 320px;
	max-width: 60rem;
	margin: 0 auto;
	padding: 1em .75em 1em .75em;
}
/* Hide on print. */
@media print {
	.hide-on-print { display: none !important; }
}
/* headings */
h2 {
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: .25em;
	border-bottom: 1px dashed #aaa;
}
h3 {
	font-size: 1.1em;
	font-weight: bold;
}
h2:not(:first-child),
h3:not(:first-child) {
	margin-top: 1em;
}
/* header */
.top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: .5em;
}
@media all and (max-width: 600px) {
	.top {
		flex-direction: column;
	}
}
.top-name {
	font-weight: bold;
	font-size: 1.2em;
}
.top-name-p1 {
	display: inline-block;
	padding: .25em .5em;
	color: #fff;
	background: #0083d6;
	border: 1px solid #0083d6;
	border-right: none;
}
.top-name-p2 {
	display: inline-block;
	padding: .25em .5em;
	color: #0083d6;
	background: #fff;
	border: 1px solid #0083d6;
	border-left: none;
}
.top-slogan {
	font-style: italic;
}
/* content */
.main-body {
	margin-top: 1em;
}
.content a:not([class]),
.content a.default {
	color: #05588c;
	text-decoration: underline;
}
.content p:not(:first-child),
.content ul:not(:first-child),
.content ol:not(:first-child),
.content details:not(:first-child) {
	margin-top: 1em;
}
.content ul > li,
.content ol > li {
	margin-left: 1em;
}
.content ul > li:not(:first-child),
.content ol > li:not(:first-child) {
	margin-top: .2em;
}
/* random server */
@media all and (min-width: 1100px) {
	.random-server-result {
		font-size: 1.2em;
	}
}
.random-server-button {
	box-sizing: border-box;
	display: inline-block;
	border: none;
	padding: .25em .5em;
	color: #fff;
	background: #0083d6;
}
@media all and (max-width: 600px) {
	.random-server-button {
		width: 100%;
	}
}
.random-server {
	padding: 1em;
	background: #e3f8ff;
	color: #000;
	border: 1px solid #c1d5dc;
}
